*, *::before, *::after {
    box-sizing: border-box;
}

@mixin border() {
  border: solid rgba(119, 119, 119, 0.5) 1px;
}

@mixin marginAuto() {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-size: cover;
  background-image: url("https://i.picsum.photos/id/991/1445/935.jpg");
  cursor: context-menu;
}

.serviceInactive,
.notFound {
  @include marginAuto();
  width: 50%;
  margin-top: 5rem; 
  text-align: center;
  img {
    margin-top: 2rem;
  }
}

main {
  background-color: rgba(170, 170, 170, 0.7);
  background-size: cover;
  height: 80vh;
  width: 60rem;
  padding: 3rem 1rem 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  @include marginAuto();
}

.navbar {
  width: 60rem;
  font-size: 1.5rem;
  @include marginAuto();
}

footer {
  text-align: center;
  color: white;
  padding: 0.7rem;
  background-color: rgb(8, 8, 8);
  border-top: rgba(49, 43, 43, 0.7) solid 1px;
  .socialLinks{
    padding-bottom: 1rem;
    justify-content: space-between;
      img {
          width: 2rem;
          height: 2rem;
      }
      a{
        padding: 0.5rem;
      }
      a:hover{
        text-decoration: none;
      }
  }

  p {
    margin-bottom: 0;
  }

}

.rooms {
  padding: 1.5rem 0.5rem 0 0;
  justify-content: space-around;
  .my_card {
    @include border();
    margin: 1rem 0;
    border-radius: 0.5rem;
  }
  input {
    border-radius: 0.2rem;
    @include border();
    color: white;
    background-color: #6c757d;
  }
  button {
    background-color: #373738;
  } 
}

.treatments {
  display: flex;
  margin-top: 1.5rem;
  .cardTreatment {
    @include border();
    margin: 1.5rem;
    width: 16rem;
    border-radius: 0.5rem;
  }
  input {
    width: 3rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    @include border();
    color: white;
    background-color: #6c757d;
  }
  button {
    background-color: #373738;
  }
}

.home{
  padding: 2rem;
  img {
    width: 25rem;
    margin: 0 1.5rem 1.5rem 0;
    float: left;
  }
  
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.table {
  margin-top: 1.5rem;
  width: 100%;
  .deleteTd{
    width: 10%;
  }
}

.signUpSection{
  margin-top: 3rem;
  margin-left: 2rem;
  width: 20rem;
  @include border();
  border-radius: 0.5rem;
  padding: 1rem;
  input {
    margin: 0.5rem 0;
    background-color: lightgrey;
  }
  button {
    background-color: #373738;
    color: white;
    width: 6rem;
    height: 2.5rem;
    @include border();
    border-radius: 0.5rem;
  }
}

.pass_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.contactDiv {
  margin-top: 2rem;
  text-align: center;
  #mapid {
    height: 250px;
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    border: 5px solid rgba(71, 71, 71, 0.5);
  }
}


